*{
    text-decoration: none;
    background: linear-gradient(to bottom #f778be,#ece6dc);
}
.navbor{
    font-family: crimson;
    background: linear-gradient(to bottom, #f778be,#ece6dc );
    height: 260px;
    align-content: center;
    padding-right: 15px;
    padding-left: 20px;
}
.navbor ul{
    text-align: right;
    padding-right: 40px;
}
.one{
    display: flex;
    align-items: center;
    text-align: right;
}
li{
    list-style: none;
    display: inline-block;
    text-align: right;
    margin-top: 30px;
}
li a{
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: bold;
    margin-right: 40px;
    text-align: center;
}
button{
    color:rgba(236, 118, 181, 1);
    border-radius: 12px;
    width: 100px;
    padding:10px;
    margin-top: 10px;
}
button a{
    color:rgba(0, 0, 0, 1);
    font-weight: bold;
    font-size: 20px;
}
p.h{
    font-style: italic;
    font-weight: bold;
    font-size: 50px ;
    text-align: left;
    padding-top: 40px;
}
p.g{
    font-style: oblique;
    font-weight: bold;
    font-size: 32px;
    text-align: right;
    padding-right: 70px;
    padding-top: 70px;
}
.navbor a:hover{
    background: white;
    border-radius: 5px;
}
.two{ 
    height: 430px;
    width: 440px;
    float:left;
    padding-left: 20px;
    padding-top: 40px;
}
.three{
    height:200px;
    width:346px;
    float:left;
}
button.sec{
    width:240px;
    background-color: rgba(236, 118, 181, 1);
    float: right;
}
button.third{
    width:240px;
    background-color: rgba(236, 118, 181, 1);
    float:right;
}
.well a:hover{
    background: black;
    border-radius: 5px; 
}
p.l{
    text-align: center;
    font-style: oblique;
}
